
    <form name="createNewCar" role="form" ng-submit="addNewOrder()">
        <table class="table ">
            <thead>
            <tr class="">
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="tableHover" ng-repeat="order in orders track by $index">
                <td ng-show="collapse!==order.orderId" class="tableAlignMiddle" ng-click="openOrdersModal(car)">{{order.date}}</td>
                <td ng-show="collapse!==order.orderId" class="tableAlignMiddle" ng-click="openOrdersModal(car)">{{order.amount}}</td>
                <td ng-show="collapse!==order.orderId" class="tableAlignMiddle" ng-click="openOrdersModal(car)">{{order.status}}</td>
                <td ng-show="collapse!==order.orderId" class="tableAlignMiddle"><input type="button" class="form-control btn-default"
                                                    ng-click="editOrder(order)" value="Edit"></td>
                <td ng-show="collapse!==order.orderId" class="tableAlignMiddle">
                    <div class="glyphRemove">
                        <span class="glyphicon glyphicon-remove"
                            aria-hidden="true"
                            ng-click="deleteOrder(order)">
                        </span>
                    </div>
                </td>

                <td ng-show="collapse===order.orderId"><input type="text" class="form-control" placeholder="Date" ng-model="editedOrder.date" ></td>
                <td ng-show="collapse===order.orderId"><input type="text" class="form-control" placeholder="Amount" ng-model="editedOrder.amount" >
                </td>
                <td ng-show="collapse===order.orderId"><select name="singleSelect" class="form-control selectWidth" ng-model="editedOrder.status">
                    <option value="completed">completed</option>
                    <option value="in progress">in progress</option>
                    <option value="cancelled">cancelled</option>
                </select>
                </td>
                <td ng-show="collapse===order.orderId" colspan="2" class="tableAlignMiddle"><input type="button" class="form-control btn-default"
                                                    ng-click="saveEditedChanges(order)" value="Save Changes"></td>


            </tr>
            <tr>
                <td><input type="text" class="form-control" placeholder="Date" ng-model="newOrder.date" required></td>
                <td><input type="text" class="form-control" placeholder="Amount" ng-model="newOrder.amount" required>
                </td>
                <td><select name="singleSelect" class="form-control selectWidth" ng-model="newOrder.status">
                    <option value="completed">completed</option>
                    <option value="in progress">in progress</option>
                    <option value="cancelled">cancelled</option>
                    </select>
                </td>
                <td colspan="2"><input type="submit" class="form-control btn-default" value="Add order"></td>
              </tr>
            </tbody>
        </table>
    </form>
<div class="createUserModalInputEnd row">
        <input type="button" value="Close modal" ng-click="cancelModal()" class="btn btn-danger confirmAcceptButton">
</div>