<div >
    <form name="createNewCar" role="form" ng-submit="addNewCar()">
        <table class="table ">
            <thead>
            <tr class="">
                <th>Date</th>
                <th>Ammount</th>
                <th>Status</th>
                <th>Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="tableHover" ng-repeat="car in cars track by $index">
                <td class="tableAlignMiddle" ng-click="openOrdersModal(car)">{{car.make}}</td>
                <td class="tableAlignMiddle" ng-click="openOrdersModal(car)">{{car.model}}</td>
                <td class="tableAlignMiddle" ng-click="openOrdersModal(car)">{{car.year}}</td>
                <td class="tableAlignMiddle"><input type="button" class="form-control btn-default"
                                                    ng-click="editCar(car)" value="Edit"></td>
                <td class="tableAlignMiddle">
                    <div class="glyphRemove"><span
                            class="glyphicon glyphicon-remove"
                            aria-hidden="true"
                            ng-click="deleteCar(car)"></span></div>
                </td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" placeholder="Date" ng-model="car.make" required></td>
                <td><input type="text" class="form-control" placeholder="Amount" ng-model="car.model" required>
                </td>
                <td><input type="text" class="form-control" placeholder="Status" ng-model="car.year" required></td>
                <td colspan="2"><input type="submit" class="form-control btn-default" value="Add order"></td>
              </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="createUserModalInputEnd row">
    <div >
        <input type="button" value="Close modal" ng-click="cancelModal()" class="btn btn-danger confirmAcceptButton">
    </div>
</div>