<!DOCTYPE html>
<html lang="en" ng-app="serviceApp">
<head>
    <base href="serviceStation">
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="resources/libs/bootstrap.min.css">
    <link rel="stylesheet" href="resources/homepage/homestyle.css">
    <script src="resources/libs/angular.min.js"></script>
    <script src="resources/libs/angular-route.min.js"></script>
    <script src="resources/index.js"></script>
    <script src="resources/homepage/js/homeModule.js"></script>
    <script src="resources/homepage/js/homeController.js"></script>
</head>
<body ng-controller="serviceMainController">

<div class="container-fluid">
    <div class="row">
        <!--<div class="col-md-2">-->
            <!--{{q12}}-->
            <!--Search: <input ng-model="query">-->
            <!--Sort by:-->
            <!--<input type="button" ng-click="fun1()" value="incriment">-->
        <!--</div>-->
        <div ng-cloak>
            <div ng-view></div>
        </div>
    </div>
</div>
</body>
</html>
